.container-fluid {
    background-color: #fffcf2;
}
.main-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.title {
    text-align: center;
    padding-top: 15px;
}
.company-logo {
    height: 300px;
    width: 300px;
    margin: 0px;
    align-content: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#aboutText {
    text-align: center;
}

/* Button for sign up */
.signUp-btn {
    text-align: center;
    background-color: #f6aa1c;
    margin-top: 15px;
}

.email-form {
    text-align: center;
}